.content {
    display: grid;
    grid-template-columns: 63% 37%; 
    gap: 8px; 
    width: 100%;
    height: calc(100vh - 75px); 
    padding: 16px;
  }
  
  .content-left {
    border-radius: 4px;
    height: 100%;
    display: flex;
  }
  
  .content-right {
    border-radius: 4px;
    height: 100%;
    display: flex;
  }
  