.content {
  display: flex;
  width: 100%;
  height: calc(100vh - 75px); 
  padding: 16px;
  gap: 8px;
}

.content-left {
  flex: 0 0 63%; /* 65% of the width */
  border-radius: 4px;
  height: 100%;
  display: flex;
}

.content-right {
  flex: 0 0 37%; /* 35% of the width */
  border-radius: 4px;
  height: 100%;
  display: flex;
}
