.content-right {
  border-radius: 8px;
  display: flex;
  flex-direction: column; 
  padding: 8px;
}

.add-customer {
  width: 100%;
  background-color: #ffffff; 
  border-radius: 2px;
  height: 75px;
  padding: 8px;
  display: flex;
  align-items: center; 
}

.add-customer button {
  padding: 12px 24px;
  background-color: #d2d2d2;
  color: #000000; 
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.selected-items {
  height: 65vh;
  margin-top: 8px;
  margin-bottom: 20px;
  background-color: #ffffff;
  padding: 16px;
  overflow-y: auto; /* Add scrolling if there are too many items */
}

.selected-item-card {
  display: flex;
  align-items: center;
  padding: 16px;
  background-color: #f9f9f9;
  margin-bottom: 8px;
  border-radius: 4px;
  justify-content: space-between; 
}

.item-name {
  flex: 2;
  text-align: left;
}

.item-details {
  display: flex;
  flex: 5;
  align-items: center;
  justify-content: space-around; /* Space items evenly within this container */
}

.item-price, .item-quantity, .item-discount, .item-total {
  text-align: center;
}

.quantity-controls {
  display: flex;
  align-items: center;
}

.quantity-controls button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.item-discount input {
  width: 60px;
  margin-left: 5px;
}

.remove-item {
  flex-shrink: 0; 
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.order-summary {
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  font-size: 18px;
}

.summary-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.order-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  gap: 16px; 
}

.hold-order, .proceed {
  flex: 1; 
  background-color: orange;
  color: white;
  padding: 20px 0; 
  font-size: 18px; 
  border-radius: 8px; 
  border: none;
  cursor: pointer;
  text-align: center;
}

.proceed {
  background-color: green;
}


.customer-details {
  flex: 1;
  padding: 0 10px; /* Padding for some space within the white rectangle */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.customer-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.customer-name, .customer-phone, .customer-points {
  font-weight: bold;
  margin-right: 15px;
  font-size: larger;
}

.change-customer {
  background-color: #d2d2d2;
  color: #000000;
  border: none;
  padding: 3px px;
  border-radius: 5px;
  cursor: pointer;
  align-self: flex-end; /* Aligns button to the bottom right corner */
}

.change-customer:hover {
  background-color: #40a9ff;
}