.payment-methods {
  padding: 8px;
  overflow-y: auto;
}

.header {
  width: 100%;
  background-color: #ffffff; 
  border-radius: 2px;
  height: 75px;
  padding: 8px;
  display: flex;
  align-items: center; 
  justify-content: space-between;
  height: 75px;
  margin-bottom: 8px;
}

.payment-summary{
  font-size: 1.5rem;
  color: #424242;
  margin-left: 20px;
}

.back-button {
  height:40px;
  background-color: #d2d2d2;
  color: #000000; 
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  margin-right: 10px ;
}

.back-button:hover {
  background-color: #002465 !important;
  color: #ffffff;
}

.payment-container{
  height: 80vh;
  background-color: #ffffff;
  padding: 8px;
}

.redeem-points-button {
  background-color: #d2d2d2;
  color: #000000; 
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 20px;
  margin-top: 20px;
}

.payment-info-container {
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  max-width: 98%; /* Adjust to fit the design */
  margin: 0 auto;
}

.payment-info-container h3 {
  text-align: left;
  color: #686868;
  margin-bottom: 16px;
  font-weight: 600;
}

.payment-info {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.info-item {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  border-bottom: 1px solid #ddd;
}

.info-item p {
  margin: 0;
  font-size: 16px;
  color: #555;
}

.info-item strong {
  color: #333;
}

.payment-info p:last-child {
  text-align: right;
}

.payment-info {
  margin-bottom: 20px;  
}

.payment-methods-container {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 8px;
  margin-left: 10px;
}

.sub-topic{
  text-align: left;
  color: #686868;
  margin-bottom: 16px;
  font-weight: 600;
}

.payment-method-buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 40px;
}

.payment-button {
  width: 180px;
  text-align: center;
  background-color: rgb(237, 177, 64);
  border-color: rgb(237, 177, 64);
  height: 120px;
  font-size: 1.1rem;
  margin-bottom: 20px;
}

.payment-button.selected {
  background-color: green;
  border-color: green;
}

.payment-button:hover {
  background-color: #002465 !important;
}

.cash-info-container{
  border-radius: 8px;
  margin-bottom: 20px;
  max-width: 98%; /* Adjust to fit the design */
  margin: 0 auto;
}

.input-with-button {
  display: flex;
  align-items: center;
  gap: 10px; /* Adds space between input and button */
}

.cash-input {
  width: 250px;
  padding: 6px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.enter-button {
  padding: 6px 16px;
  font-size: 16px;
  border-radius: 4px;
  background-color: green;
  color: #fff;
  border: none;
  cursor: pointer;
}

.enter-button:hover {
  background-color: #002465 !important;
}


.status-line {
  border: none;
  border-top: 1px solid #ccc; /* Light grey line */
  margin: 10px 0; /* Space above and below the line */
  width: 100%; /* Full width of the container */
}


.complete-payment {
  background-color: green; /* Green for Complete Payment */
  border-color:green;
  color: white;
  width: 100%;
  height: 50px;
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
  border-radius: 8px;
}

.complete-payment:hover {
  background-color: #002465 !important;
}

