.cashier-details-container {
  padding: 20px;
}

.cashier-avatar {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cashier-avatar .ant-avatar {
  border: 2px solid #f0f0f0;
}

