.user-container {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 75px); /* Full height minus header */
    width: 100%; /* Full width */
    box-sizing: border-box;
}

.user-left-side {
    flex: 0 0 40%; /* Takes up 60% of the width */
    padding: 16px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.user-right-side {
    flex: 0 0 60%; /* Takes up 40% of the width */
    padding: 16px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
